{% extends 'base.html.twig' %}

{% block title %}BDD - Accueil
{% endblock %}

{% block content %}

	

	


<div class="carousel carousel-center rounded-box flex space-x-24 p-44 mb-24  ">
{%for mission in missions %}
	<div class="carousel-item">

		<div class=" indicator">
			<span class="indicator-item indicator-top indicator-end badge {{(mission.statut == "Active") ? "badge-primary" : "badge-error"}} ">{{mission.statut}}</span>
			<div class="indicator-item indicator-bottom indicator-start ml-8">
				<a href="{{path('mission', {'slug': mission.slug })}}"><button class="btn btn-outline btn-warning mb-20 ml-36" >Details</button></a>
			</div>
			<div class="card border">
				<div class="card-body">
					<h2 class="card-title">{{mission.titre}}</h2>
					<p>Nom de code : {{mission.nomdecode}}
						<br><br><br><br><br><br><br><br><br></p>
				</div>
			</div>
			
		</div>

	</div>



{% endfor %}
</div>

{% endblock %}
